.PayoutsCredentials {
    &__section-title {
        color: #6D859E;
        font-size: 13px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__section-row {
        display: flex;
        align-items: center;

        & + .PayoutsCredentials__section-row {
            padding-top: 16px;
        }
            
        &__label {
            font-size: 15px;
            color: #5d6c7c;
            margin-right: 6px;
            width: 40%;
        }

        &__value {
            margin-left: 6px;
            width: 60%;
            color: rgb(41, 41, 41);
            font-size: 15px;
            height: 19px;
        }
    }

    &__buttons {
        margin-top: 40px;
    }
}