.CallRoomDashboardMedicalSummary {
  &__wrapper {
    transition: transform .22s ease-out, opacity .24s ease-out;
    height: 100%;
  }

  &__content {
    padding: 30px 0;
    height: 100%;
    overflow-y: scroll;
  }

  &__block {
    background: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.20);
    border-radius: 4px;
    margin: 0 15px 30px 30px;

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 64px;
      padding: 0 24px;

      &-action {
        height: 32px;
        transition: transform .16s ease-out, opacity .2s ease-out;
      }
    }

    &-title {
      font-size: 16px;
      color: #292929;
    }

    &-content {
      padding: 0 0 24px 0;
      margin: 0 24px;
      transition: transform .22s ease-out, opacity .24s ease-out;
    }
  }

  &__section {
    padding: 24px 0;

    & + & {
      border-top: 1px solid #E1E1E1;
    }

    &-title {
      font-size: 13px;
      color: #6D859E;
      text-transform: uppercase;
      padding-bottom: 10px;
    }
  }

  &__row {
    padding-top: 16px;
  }

  &__label {
    font-size: 15px;
    color: #5D6C7C;
    width: 137px;
  }

  &__value {
    font-size: 15px;
    color: #292929;
    width: calc(100% - 137px);
  }
}