.PasswordRecoveryStep3 {
  &__wrapper {
    width: 100%;
    min-height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    transition: transform .16s ease-out, opacity .2s ease-out;
  }

  &__header {
    padding-bottom: 6px;

    &-logo {
      height: 28px;
    }
  }

  &__title {
    padding-bottom: 32px;
    padding-left: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
  }

  &__password-visibility-trigger {
    position: absolute;
    right: 12px;
    top: 15px;
    font-size: 18px;
    color: #797979;
    cursor: pointer;
  }
}
