.PatientsNewPatient {

  &__wrapper {
    width: 100%;
    display: flex;
    border-radius: 4px;
  }

  &__col {
    width: 50%;

    &:first-of-type {
      min-height: 100%;
      background-color: #eceff1;
      background-image: url(/static/images/add-new-patient.svg);
      background-size: auto 80%;
      background-position: center bottom;
      background-repeat: no-repeat;
      border-radius: 4px 0 0 4px;
    }

    &:last-of-type {
      background-color: #FFF;
      padding: 36px 56px;
      display: flex;
      flex-direction: column;
      border-radius: 0 4px 4px 0;
    }
  }

  &__methods {
    padding-top: 24px;
    display: flex;
  }

  &__method {
    position: relative;
    &-description {
      color: #4A4A4A;
      font-size: 15px;
      line-height: 22px;

      &-highlight {
        display: initial;
        text-transform: lowercase;
        color: #4496E9;
        font-weight: 500;
      }
    }

    &-submit {
      width: 100%;
      height: 36px;
      margin-top: 16px;
      z-index: 1;
    }

    &-disjunction {
      width: 60px;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #9698A6;
      font-size: 15px;
      line-height: 22px;
      padding-bottom: 52px;
    }
  }

  &__title {
    color: #4A4A4A;
    font-size: 24px;
    font-weight: 500;
  }
}
