.FormFieldMultiselect {

  &__wrapper:not(.vertical) {
    margin-bottom: 16px;
  }

  &__wrapper.vertical {
    margin-bottom: 24px;
    padding-bottom: 12px;
  }

  &__label {
    flex-basis: 150px;
    flex-grow: 0;
    font-size: 13px;
    font-weight: 500;
    color: #6D859E;
    flex-shrink: 0;
  }

  &__wrapper.wide &__label {
    flex-basis: 200px;
  }

  &__wrapper.subform &__label {
    flex-basis: 136px;
  }

  &__wrapper.wide.subform &__label {
    flex-basis: 186px;
  }

  &__wrapper.subform &__view {
    padding-left: 10px;
  }

  &__value {
    font-size: 15px;
    color: #292929;
  }

  &__view, &__edit {
    transition: transform .16s ease-out, opacity .2s ease-out;
  }

  &__subform {
    padding-top: 8px;
  }

  &__subform.view-mode {
    display: inline-block;
  }

  &__options {
    margin: 12px 0 24px 0;
  }

  &__option {
    & + & {
      margin-top: 12px;
    }
  }
  
  &__choices {
    display: flex;
    flex-direction: column;
  }

  &__choice {
    display: inline-flex;

    &-value {
      white-space: nowrap;
    }

    &.with-subforms {
      display: block;
    }

    &:not(.with-subforms):not(:last-of-type) {
      margin-right: 4px;
    }

    &:not(:first-of-type) {
      padding-top: 4px;
    }

    &:not(:last-of-type) {
      padding-bottom: 4px;
    }

    &.split:after {
      content: ',';
    }
  }
}
