.RegistrationStep2 {
  &__wrapper {
    width: 100%;
    max-width: 570px;
    margin: 126px 0 144px 0;
    transition: transform .16s ease-out, opacity .2s ease-out;
  }

  &__desc {
    font-weight: 400;
    font-size: 14px;
    color: rgba(148, 148, 148, 1);
    padding-bottom: 24px;
    line-height: 20px;
  }
  
  &__section {
    background: #FFFFFF;
    border-radius: 4px;
    padding: 8px 0 40px 0;

    & + & {
      margin-top: 16px;
    }

    &-header {
      height: 64px;
      padding: 22px 40px;
      display: flex;
      align-items: center;
    }

    &-title {
      color: #4A4A4A;
      font-size: 16px;
      font-weight: 500;
    }

    &-content {
      padding: 8px 40px 0 40px;
      transition: opacity .2s ease-out;
      textarea {
        border: 1px solid #E7E8E9;
      }
    }
  }

  &__footer {
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 101;
    transition: transform .16s ease-out, opacity .2s ease-out;

    &.appear-from-bottom-enter-to {
      transition-delay: .4s;
    }

    &-content {
      width: 570px;
    }

    &-actions {
      margin-top: 0;
    }
  }

  &__cancel {
    background-color: #fff;
    border: 1px solid #56a9ff;
    border-radius: 4px;
    color: #56a9ff;
  }

  &__add-form {
    color: #4496e9;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    align-items: center;
    cursor: pointer;

    &-icon {
      font-size: 12px;
      margin-right: 12px;
    }
  }

  &__bio {
    height: 280px;
  }
}
