.ProfileGeneralInfo {
  &__wrapper {
    padding: 40px 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__initializing {
    padding: 24px 0;
  }

  &__avatar {
    border-radius: 50%;
    background-size: cover;
    background-position: center;

    &.pending {
      width: 104px;
      height: 104px;
    }

    &:not(.pending) {
      width: 220px;
      height: 220px;
    }
  }

  &__name {
    padding-top: 24px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 24px;

    &.pending {
      color: #ED4855;
    }

    &:not(.pending) {
      color: #4a4a4a;
    }
  }

  &__categories {
    padding-top: 8px;
    color: #4496E9;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.19px;
  }

  &__contacts {
    padding-top: 8px;
    color: #4A4A4A;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.2px;
  }

  &__joined,
  &__completed {
    color: #88ABC4;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.17px;

    &.pending {
      padding-top: 8px;
    }

    &:not(.pending) {
      padding-top: 16px;
    }
  }
}
