.CalendarMultidayTimeslotModal {
  &__header {
    &__title {
      color:#4A4A4A;
      font-size: 20px;
      line-height: 25px;
      font-weight: 500;
      text-align: center;
      padding-top: 24px;

      &--add {
        color: #4496e9;
      }
      &--remove {
        color: #ed4856;
      }
    }
  }

  &__content {
    padding: 24px;
  }

  &__sub-header {
    text-align: center;
    margin-bottom: 20px;
  }

  &__buttons {
    display: flex;
  }

  &__button {
    flex-grow: 1;
    height: 34px;
    background-color: #F4F4F4;
    color: #6F6F6F;
    font-size: 15px;

    &.active {
      background-color: #4496E9;
      color: #FFF;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-bottom: 24px;

    &--include-weekends {
      justify-content: left;
    }
  }

    &__col {
        font-size: 15px;
        &:nth-child(1) {
          margin-right: 10px;
        }
    }
    

  &__label {
    font-size: 15px;
    color: #5D6C7C;
    display: flex;
    align-items: center;
  }

  &__time {
    display: flex;
    align-items: center;
    color: #4496E9;
    font-size: 15px;
    font-weight: 500;
    position: relative;

    &-dropdown {
      position: absolute;
      z-index: 1;
      background: #FFFFFF;
      box-shadow: 0 4px 14px -1px rgba(66, 78, 91, .55);
      border-radius: 4px;
      width: 170px;
      max-height: 152px;
      overflow-y: scroll;
      margin-left: -85px;
      transition: transform .16s ease-out, opacity .2s ease-out;
    }

    &-option {
      font-size: 14px;
      color: #292929;
      line-height: 18px;
      padding: 16px;
      cursor: pointer;
      transition: background-color .22s ease-in-out;

      &:hover {
        background-color: #F5F5F5;
      }
    }

    &-dropdown.start &-option {
      &:last-of-type { display: none; }
    }

    &-dropdown.end &-option {
      &:first-of-type { display: none; }
    }
  }

  &__start,
  &__end {
    cursor: pointer;
    padding: 4px;
    border: 1px solid transparent;
    border-radius: 4px;

    &.active {
      background-color: #F5F5F5;
      border-color: #E7E8E9;
    }
  }

  &__divider {
    margin: 0 4px;
  }

  &__date {
    cursor: pointer;
    padding: 4px;
    color: #292929;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: transparent;
    outline: none;

    &:focus {
      background-color: #F5F5F5;
      border-color: #E7E8E9;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
  }

  &__action {
    width: 50%;
    height: 36px;
  }
}
