.PatientsListSearch {

  &__wrapper {
    position: relative;
    width: 100%;
    max-width: 525px;
    padding: 10px 0 10px 24px;
  }

  &__actions {
    flex-grow: 0;
  }

  &__submit {
    height: 48px;
  }

  &__icon {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #4496E9;
    cursor: pointer;

    &.inactive {
      cursor: default;
    }
  }
}
