.TimelineEntityDoctorInvitation {

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 13px 24px 16px 22px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .4px;
    text-align: right;
    color: #23CE86;
    padding-top: 3px;
  }

  &__time {
    padding-top: 2px;
  }

  &__specialist {
    &-card {
      display: flex;

      &-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        margin-right: 10px;
      }

      &-info {
        padding: 5px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      &-name {
        font-size: 14px;
        color: #292929;
      }

      &-role {
        font-size: 12px;
        color: #6D859E;
      }
    }
  }

  &__invitations {
    padding-top: 12px;
  }

  &__invitation {
    padding: 12px 0;

    &-details-label {
      width: calc(100% / 3);
      font-size: 15px;
      color: #5D6C7C;
    }

    &-details-value {
      width: calc((100% / 3) * 2);
      font-size: 15px;
      color: #292929;
    }
  }

  &__section-title {
    font-size: 13px;
    color: #6D859E;
    text-transform: uppercase;
    padding: 12px 0;
  }

  &__time {
    font-size: 13px;
    font-weight: 500;
    color: #6D859E;
    text-align: right;
  }

  &__footer {
    padding: 0 24px 12px 24px;
  }

  &__edit {
    width: 100%;
    height: 36px;
  }
}
