.NotificationsListNotification {
  &__wrapper {
    padding: 24px;
    border: 1px solid #f0f0f0;
    transition: transform .16s ease-out, opacity .2s ease-out, background-color .2s ease-in-out;
    @for $i from 1 through 20 {
      &:nth-child(#{$i}) {
        transition-delay: calc(#{$i * .02}s);
      }
    }

    & + & {
      border-top-width: 0;
    }

    &.unread {
      background-color: #eef8ff;
    }
  }

  &__fallback {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7692af;
  }

  &__unread-badge {
    background-color: #fff;
    padding: 3px 14px;
  }
}
