.PatientDetails {

  &__wrapper {
    width: 100%;
  }

  &__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 24px;
  }

  &__title {
    font-size: 24px;
    color: #4A4A4A;
    font-weight: 500;
  }

  &__content {
    width: 100%;
  }

  &__tabs {
    display: flex;
    border-radius: 4px 4px 0 0;
    overflow: hidden;
    border-bottom: 1px solid #f5f5f5;
  }

  &__tab {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    line-height: 64px;
    text-align: center;
    color: #a6a6a6;
    background-color: #FFFFFF;
    transition: background-color .22s ease-in-out;

    &-label {
      padding: 0 6px;
      position: relative;
      &:before {
        content: '';
        height: 0;
        background-color: transparent;
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        right: 50%;
        transition: all .35s ease;
      }
    }

    &:hover &-label {
      &:before {
        height: 2px;
        background-color: #53A7FC;
        right: 0;
        left: 0;
      }
    }
    &.active &-label {
      color: #4496e9;
      &:before {
        background-color: #53A7FC;
        height: 2px;
        right: 0;
        left: 0;
      }
    }
  }
}
