.PatientRecordReasonModal {
  &__tabs {
    height: 64px;
    background-color: #ffffff;
    position: fixed;
    top: 90px;
    right: 0;
    left: 0;
  }
  &__content {
    padding-top: 90px;
  }
  &__section {
    background-color: #ffffff;
    border-radius: 4px;
    transition: transform .22s ease-out, opacity .2s ease-out;

    & + & {
      margin-top: 16px;
    }

    &-header {
      height: 64px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 40px;
    }

    &-title {
      color: #4A4A4A;
      font-size: 16px;
      font-weight: 500;
    }

    &-content {
      padding: 0 40px 24px 40px;
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__block {
    width: 100%;
    max-width: 390px;
    border-radius: 4px;
    border: 1px solid #F0F0F0;
    padding: 16px 14px 16px 19px;
    position: relative;

    &:nth-child(odd) {
      margin: 0 12px 16px 36px;
    }

    &:nth-child(even) {
      margin: 0 0 16px 48px;
    }

    &:before {
      content: attr(data-index);
      position: absolute;
      left: -36px;
      top: 16px;
      color: #6d859e;
      font-size: 13px;
      font-weight: 500;
      line-height: 14px;
      letter-spacing: 0.19px;
      padding: 5px 7px;
      background-color: #f5fbff;
      border-radius: 50%;
    }
  }
}
