.MedicationsBundle {
  &__wrapper {
    padding: 20px 0;

    & + .MedicationsBundle__wrapper {
      border-top: 1px solid #f5f5f5;
    }

    .table-body-cell {
      text-align: left;
      color: #292929;
      font-size: 17px;
    }

    table {
      border: 1px;
      border-spacing: 0 6px;
      border-collapse: separate;
      width: 100%;
    }

    td {
      background: rgb(249, 249, 249);
    }

    td:first-child {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }
    td:last-child {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }

  &__inserted-at {
    font-weight: 500;
    color: #6d859e;
    text-align: right;
  }

  &__medications {
    &__value {
      font-size: 15px;
    }
  }
}
  