.CalendarHeader {
  &__wrapper {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    border-bottom: 1px solid #f5f5f5;
  }

  &__current-period {
    display: flex;
    align-items: center;
  }

  &__date {
    font-size: 15px;
    font-weight: 500;
    color: #6d859e;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }
  &__year {
    margin-right: 4px;
  }
  &__month {
    margin-left: 4px;
    width: 100px;
  }

  &__nav {
    display: flex;
    align-items: center;

    &-today {
      color: #4496E9;
      font-size: 13px;
      font-weight: 600;
      text-transform: uppercase;
      margin-right: 8px;
      cursor: pointer;
      transition: transform .16s ease-out, opacity .2s ease-out;
    }

    &-prev,
    &-next {
      font-size: 24px;
      color: #4496E9;
      border-radius: 4px;
      cursor: pointer;
      background-color: transparent;
      transition: background-color .22s ease-in-out;

      &:hover {
        background-color: #F9F9F9;
      }
    }

    &-prev:before {
      transform: rotate(180deg);
    }
  }

  &__legend {
    display: flex;
    align-items: center;

    &-badge {
      transition: transform .16s ease-out, opacity .2s ease-out;
      & + & {
        margin-left: 8px;
      }
    }
  }

  &__view {
    position: relative;
    margin-right: 16px;

    &-current, &-option {
      color: #4496e9;
      font-size: 13px;
      font-weight: 600;
      padding: 2px 14px;
      line-height: 20px;
      cursor: pointer;
      white-space: nowrap;
    }
    &-current { 
      border-radius: 4px;
      box-shadow: 0 0 0 1px #e7e8e9;
    }

    &-dropdown {
      border-radius: 4px;
      box-shadow: 0px 4px 14px -1px rgba(66, 78, 91, 0.55);
      position: absolute;
      z-index: 101;
      background-color: #fff;
      top: calc(100% + 4px);
      width: 100%;
      transition-property: transform, opacity;
      transition-duration: .22s, .2s;
      transition-timing-function: ease-in-out;
      transform-origin: top;
    }
  }

  &__bulk-action {
    + .CalendarHeader__bulk-action {
      margin-left: 10px;
      margin-right: 20px;
    }
    &__button {
      border: 0;
      box-shadow: 0 0 0 1px #e7e8e9;
      display: inline-block;
      border-radius: 4px;
      line-height: initial;
      font-size: 13px;
      font-weight: bold;
      padding: 5px 14px;
      outline: 0;
      background: none;
      &:hover {
        cursor: pointer;
      }
      &--add {
        color: #4496e9;
      }
      &--remove {
        color: #ed4856;
      }
    }
  }
}
