.PatientRecordInterruptedCallModal {
  &__wrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    color: #ed4855;
  }

  &__description {
    color: #3B4A58;
    font-size: 15px;
    line-height: 22px;
  }
}
