.PatientOnboardingStep2 {
  &__wrapper {
    min-height: calc(100% - 168px);
    margin: 80px 0 88px;
    padding: 48px 0;
    display: flex;
    align-items: center;
    transition: transform .16s ease-out, opacity .2s ease-out;
  }

  &__header-prompt {
    background-color: #ed4856;
    width: 100%;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    line-height: 19px;
    padding: 10px 0 11px 0;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    top: 80px;
    left: 0;
    transition: transform .16s ease-out, opacity .2s ease-out;
  }

  &__content {
    background-color: #ffffff;
    border-radius: 4px;
    padding: 30px 40px 40px 40px;
  }

  &__container {
    max-width: 470px;
    width: 100%;
    margin: 0 auto;
  }

  &__footer {
    padding: 24px 0;
    background-color: #ffffff;
    position: fixed;
    z-index: 1;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__description {
    color: #292929;
    font-size: 15px;
    line-height: 22px;
    padding-top: 30px;
    letter-spacing: -.17px;
  }

  &__form {
    padding-top: 24px;
  }
}
