.RegistrationStep5 {
  &__wrapper {
    width: 100%;
    max-width: 570px;
    margin: 126px 0 144px 0;
    transition: transform .16s ease-out, opacity .2s ease-out;
  }

  &__section {
    background: #FFFFFF;
    border-radius: 4px;
    padding: 8px 0 40px 0;

    & + & {
      margin-top: 16px;
    }

    &-header {
      height: 64px;
      padding: 22px 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-title {
      color: #4A4A4A;
      font-size: 16px;
      font-weight: 500;
    }

    &-content {
      padding: 8px 40px 0 40px;
      transition: opacity .2s ease-out;
    }
  }

  &__add-form {
    cursor: pointer;
    color: rgba(68, 150, 233, 1);
    font-weight: 500;
    font-size: 15px;
    i {
      color: #4496e9;
      margin-right: 5px;
    }
  }

  &__footer {
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .16s ease-out, opacity .2s ease-out;

    &.appear-from-bottom-enter-to {
      transition-delay: .4s;
    }

    &-content {
      width: 570px;
    }

    &-actions {
      margin-top: 0;
    }
  }

  &__add-category {
    color: #4496e9;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    align-items: center;
    cursor: pointer;

    &-icon {
      font-size: 12px;
      margin-right: 12px;
    }
  }

  &__document {
    & + & {
      padding-top: 40px;
    }

    &-title {
      color: #6D859E;
      font-size: 13px;
      font-weight: 500;
      text-transform: uppercase;
      padding-bottom: 16px;
    }

    &-attachment {
      display: flex;
      padding: 9px 0;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      &-preview-button {
        background: #7E7E7E;
        border: 1px solid #FFFFFF;
        border-radius: 4px;
        font-size: 15px;
        color: #FFFFFF;
        text-align: center;
        line-height: 20px;
        padding: 6px 24px;
        font-weight: 600;
        cursor: pointer;
        opacity: 0;
        transition: opacity .2s ease-in-out;
      }

      &:hover &-preview-button {
        opacity: 1;
      }

      &-thumbnail {
        width: 32px;
        height: 32px;
        background-size: cover;
        border-radius: 2px;
      }

      &-remove {
        font-size: 14px;
        cursor: pointer;
        color: #4496e9;
        transition: color .2s ease-in-out;

        &:hover {
          color: #ed4856;
        }
      }

      &-container {
        height: 48px;
        border-radius: 4px;
        border: 1px dashed #e7e8e9;
        padding: 0 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
      }

      &-upload {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        padding: 0 12px;

        &-toggle {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        &-description {
          color: #4A4A4A;
          font-size: 15px;
          text-align: right;
        }

        &-button {
          background: #4496E9;
          border-radius: 4px;
          color: #fff;
          font-size: 15px;
          font-weight: 600;
          line-height: 16px;
          padding: 8px 12px;
          text-align: center;
        }

        &-divider {
          padding: 0 12px;
          color: #9698A6;
          font-size: 15px;
          line-height: 22px;
        }

        &-decription,
        &-button {
          flex-grow: 1;
        }
      }
    }
  }

  &__accepted-types-prompt {
    color: #23CE86;
    font-size: 12px;
    font-weight: 500;
  }

  &__cancel {
    background-color: #fff;
    border: 1px solid #56a9ff;
    border-radius: 4px;
    color: #56a9ff;
  }
  
}
