// https://developers.google.com/maps/documentation/javascript/places-autocomplete
.pac-container {
    border-radius: 4px !important;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2);
    .pac-item {
        height: 40px;
        background-color: white;
        border: none;
        font-size: 16px;
        line-height: 22px;
        padding: 9px 16px;

        &:hover,
        &:hover .pac-item-query {
            color: #55A8FF;
            background-color: #f9f9f9;
            font-weight: bold;
            cursor: pointer;
        }

        .pac-icon {
            display: none;
        }
        .pac-item-query {
            font-size: 15px;
        }
    }

    &:after {
        // Hide 'powered by Google' text
        background-image: none !important;
        height: 0px;
    }
}